.type {
  margin: 0 0 24px 24px;
  overflow: hidden;

  @include desktop {
    margin: inherit;
  }

  @include tablet {
    display: flex;
    margin-left: 40px;

    .type__description-container {
      margin-top: 100px;
      padding-right: 50px;

      @include desktop {
        margin: 143px 165px 138px 125px;
      }
    }
  }

  .type__square {
    display: none;

    @include desktop {
      display: inherit;
      img {
        width: 255px;
        height: 240px;
        margin-left: 30px;
      }
    }
  }

  source,
  img {
    width: 372px;
    height: 331px;
    margin: 64px 0 0 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    @include special {
      border-radius: 30px;
    }

    @include tablet {
      width: 478px;
      height: 425px;

      @include desktop {
        width: 540px;
        height: 480px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
  }

  .type__title {
    font-size: 48px;
    font-weight: $font-title;
    text-transform: uppercase;
    color: $secondary-color;
    line-height: 48px;
    margin-bottom: 16px;

    @include tablet {
      font-size: 52px;
    }
  }

  .type__paragraph {
    margin-bottom: 37px;
    line-height: 26px;
    font-size: 16px;

    @include tablet {
      font-size: 18px;

      @include desktop {
        width: 115%;
      }
    }
  }

  .type__image-special {
    picture {
      source,
      img {
        @include mobile {
          margin-right: 20px;
          @include tablet {
            margin-right: inherit;
          }
        }
      }
    }

    @include special {
      display: flex;
      justify-content: center;
    }
  }

  .type__container {
    text-transform: uppercase;
    display: flex;
    font-size: 16px;
    font-weight: $font-bold;

    .type__container--button {
      width: 150px;
      height: 48px;
      background: $primary-color;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: $bg-color;
      border-radius: 8px;
      margin-right: 25px;
      cursor: pointer;

      &:hover {
        background-color: $primary-active;
      }

      @include tablet {
        width: 175px;
        height: 58px;
      }
    }

    .type__container--date {
      width: 140px;
      height: 48px;
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
  }
}
