@import "_global.scss";
@import "_type.scss";
@import "_keyboard.scss";
@import "_info.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $font;
  color: $font-color;
  background-color: $bg-color;
}

header {
  margin: 23px 24px 64px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  font-weight: $font-bold;

  @include tablet {
    margin: 40px 40px 62px;

    @include desktop {
      margin: 55px 165px 83px;
    }
  }

  img {
    width: 40px;
    height: 40px;
    margin: 4px 0;
  }

  .header__button {
    background-color: $container-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 150px;
    height: 48px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background-color: $secondary-color;
      color: $bg-color;
    }

    @include tablet {
      width: 175px;
      height: 58px;
    }
  }
}

footer {
  text-align: center;
  margin: 0 48px 55px;
}
