@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
.type {
  margin: 0 0 24px 24px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .type {
    margin: inherit;
  }
}

@media (min-width: 768px) {
  .type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
  }
  .type .type__description-container {
    margin-top: 100px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .type .type__description-container {
    margin: 143px 165px 138px 125px;
  }
}

.type .type__square {
  display: none;
}

@media (min-width: 1200px) {
  .type .type__square {
    display: inherit;
  }
  .type .type__square img {
    width: 255px;
    height: 240px;
    margin-left: 30px;
  }
}

.type source,
.type img {
  width: 372px;
  height: 331px;
  margin: 64px 0 0 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

@media (max-width: 737px) and (orientation: landscape) {
  .type source,
  .type img {
    border-radius: 30px;
  }
}

@media (min-width: 768px) {
  .type source,
  .type img {
    width: 478px;
    height: 425px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .type source,
  .type img {
    width: 540px;
    height: 480px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.type .type__title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
  line-height: 48px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .type .type__title {
    font-size: 52px;
  }
}

.type .type__paragraph {
  margin-bottom: 37px;
  line-height: 26px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .type .type__paragraph {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .type .type__paragraph {
    width: 115%;
  }
}

@media (min-width: 410px) {
  .type .type__image-special picture source,
  .type .type__image-special picture img {
    margin-right: 20px;
  }
}

@media (min-width: 410px) and (min-width: 768px) {
  .type .type__image-special picture source,
  .type .type__image-special picture img {
    margin-right: inherit;
  }
}

@media (max-width: 737px) and (orientation: landscape) {
  .type .type__image-special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.type .type__container {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.type .type__container .type__container--button {
  width: 150px;
  height: 48px;
  background: #f16718;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 8px;
  margin-right: 25px;
  cursor: pointer;
}

.type .type__container .type__container--button:hover {
  background-color: #ff9b62;
}

@media (min-width: 768px) {
  .type .type__container .type__container--button {
    width: 175px;
    height: 58px;
  }
}

.type .type__container .type__container--date {
  width: 140px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .keyboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.keyboard .keyboard__square {
  display: none;
}

@media (min-width: 1200px) {
  .keyboard .keyboard__square {
    display: inherit;
  }
  .keyboard .keyboard__square img {
    width: 255px;
    height: 236px;
    margin-left: -120px;
    margin-top: 244px;
  }
}

.keyboard .keyboard__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

@media (max-width: 737px) and (orientation: landscape) {
  .keyboard .keyboard__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.keyboard .keyboard__container picture:nth-child(3) source,
.keyboard .keyboard__container picture:nth-child(3) img {
  width: 220px;
  height: 193px;
  margin-right: 0;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .keyboard .keyboard__container picture:nth-child(3) source,
  .keyboard .keyboard__container picture:nth-child(3) img {
    width: 445px;
    height: 320px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .keyboard .keyboard__container picture:nth-child(3) source,
  .keyboard .keyboard__container picture:nth-child(3) img {
    width: 445px;
    height: 480px;
  }
}

@media (min-width: 768px) {
  .keyboard .keyboard__container picture:nth-child(3) {
    width: 445px;
    height: 320px;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .keyboard .keyboard__container picture:nth-child(3) {
    width: 445px;
    height: 480px;
  }
}

.keyboard__container--tint {
  position: relative;
  width: 127px;
  height: 193px;
}

.keyboard__container--tint picture source,
.keyboard__container--tint picture img {
  width: 129px;
  height: 193px;
  margin-left: -6px;
  border-radius: 30px;
  background-color: #f16718;
  mix-blend-mode: multiply;
}

@media (min-width: 768px) {
  .keyboard__container--tint picture source,
  .keyboard__container--tint picture img {
    width: 214px;
    height: 320px;
    margin-left: 6px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .keyboard__container--tint picture source,
  .keyboard__container--tint picture img {
    width: 255px;
    height: 480px;
  }
}

@media (min-width: 410px) {
  .keyboard__container--tint picture source img,
  .keyboard__container--tint picture img img {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .keyboard__container--tint {
    width: 238px;
    height: 320px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .keyboard__container--tint {
    width: 280px;
    height: 480px;
    margin-right: 30px;
  }
}

.keyboard__container--tint:before {
  content: "";
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  margin-right: 22px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f16718;
  opacity: 1;
}

@media (max-width: 737px) and (orientation: landscape) {
  .keyboard__container--tint:before {
    margin-left: -25px;
    border-radius: 30px;
  }
}

@media (min-width: 768px) {
  .keyboard__container--tint:before {
    margin-left: 25px;
    margin-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.keyboard__container--tint:after {
  content: "";
  background-color: #f16718;
  opacity: 1;
}

.keyboard__second-container {
  margin-top: 75px;
  margin-bottom: 116px;
  text-align: center;
}

@media (min-width: 768px) {
  .keyboard__second-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .keyboard__second-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 142px 125px 276px 125px;
  }
}

.keyboard__second-container h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  color: #162542;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .keyboard__second-container h2 {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .keyboard__second-container h2 {
    margin-left: 0;
  }
}

.keyboard__second-container p {
  margin: 17px 24px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .keyboard__second-container p {
    margin-left: 86px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .keyboard__second-container p {
    margin-left: 0;
  }
}

.info div {
  margin-bottom: 69px;
  text-align: center;
}

.info div img {
  width: 25px;
  height: 20px;
  margin: 0 145px 48px;
  padding: 25px;
  background-color: #f16718;
  border-radius: 20px;
}

.info div h3 {
  color: #162542;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 28px;
}

.info div p {
  line-height: 26px;
  margin: 0 24px;
}

@media (min-width: 768px) {
  .info div {
    text-align: left;
  }
  .info div img {
    margin: inherit;
    margin-bottom: 40px;
    margin-right: 69px;
    margin-left: 39px;
  }
  .info div h3 {
    margin-right: 69px;
    margin-left: 39px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .info div h3 {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .info div p {
    margin: inherit;
    margin-right: 69px;
    margin-left: 39px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .info div p {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 380px 380px;
        grid-template-columns: 380px 380px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 125px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Barlow", sans-serif;
  color: #7b8bad;
}

header {
  margin: 23px 24px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  header {
    margin: 40px 40px 62px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  header {
    margin: 55px 165px 83px;
  }
}

header img {
  width: 40px;
  height: 40px;
  margin: 4px 0;
}

header .header__button {
  background-color: #e8eff2;
  color: #162542;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 150px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
}

header .header__button:hover {
  background-color: #162542;
  color: #ffffff;
}

@media (min-width: 768px) {
  header .header__button {
    width: 175px;
    height: 58px;
  }
}

footer {
  text-align: center;
  margin: 0 48px 55px;
}
/*# sourceMappingURL=styles.css.map */